@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* MOBIL */
  h1 {
    font-family: "Helvetica Neue";
    font-stretch: condensed;
    font-size: 5.5rem;
    font-weight: 900;
  }

  h2 {
    font-family: "Helvetica Neue";
    font-stretch: condensed;
    font-size: 3.5rem;
    font-weight: 900;
    color: #a00000;
    letter-spacing: 5px;
  }

  .second_h2 {
    color: #a00000;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #a00000;
  }

  h3 {
    font-family: "Helvetica Neue";
    font-stretch: condensed;
    font-size: 1.3rem;
    font-weight: 400;
  }

  h4 {
    font-family: "Helvetica";
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-family: "helvetica neue";
    font-size: 1rem;
    letter-spacing: 1%;
  }

  .mails_body {
    font-family: "helvetica neue";
    font-size: 1.6rem;
    color: #a00000;
  }

  footer a {
    font-family: "helvetica neue";
    font-size: 1.1rem;
    color: #a00000;
  }

  @media screen and (min-width: 600px) {
    h1 {
      font-family: "Helvetica Neue";
      font-stretch: condensed;
      font-size: 7rem;
      font-weight: 900;
    }

    h2 {
      font-family: "Helvetica Neue";
      font-stretch: condensed;
      font-size: 5.5rem;
      font-weight: 900;
      color: #a00000;
      letter-spacing: 5px;
    }

    .second_h2 {
      color: #a00000;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #a00000;
    }

    h3 {
      font-family: "Helvetica Neue";
      font-stretch: condensed;
      font-size: 2rem;
      font-weight: 900;
    }

    h4 {
      font-family: "Helvetica";
      font-size: 1.7rem;
      font-weight: bold;
    }

    p {
      font-family: "helvetica neue";
      font-size: 1.4rem;
    }

    nav a {
      font-family: "Helvetica Neue";
      font-stretch: condensed;
      font-size: 1.5rem;
      letter-spacing: 1px;
      font-weight: 500;
    }

    footer a {
      font-family: "helvetica neue";
      font-size: 1.1rem;
      color: #a00000;
    }
  }
}

.cond {
  font-stretch: condensed;
}

.ex {
  font-stretch: expanded;
}

/*-------------------------BURGERMENU----------------------------*/
.hide {
  display: none;
}

.burger_container {
  /* height: 100%; */
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  z-index: 100;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 35px;
}

.bar span {
  padding: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #a00000;
  display: inline-block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bar span.top {
  top: 9px;
}

.bar span.middle {
  top: 23px;
}

.bar span.bottom {
  bottom: -2px;
}

input[type]:checked ~ span.top {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  width: 48px;
  left: 4px;
  top: 2px;
}

input[type]:checked ~ span.bottom {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  width: 48px;
  bottom: -1px;
}

input[type]:checked ~ span.middle {
  opacity: 0;
}

.program article {
  position: relative;
  height: 350px;
  max-width: 350px;
  overflow: hidden;
  border: #a00000;
  border-style: solid;
  border-width: 1px;
  padding: 0.75rem;
}

.program article h3 {
  padding: 0 0rem 0.75rem;
  font-size: 3.5rem;
}

.program article:nth-child(even) {
  background: #dca0a0;
  border: unset;
}

.program article:nth-child(even) p:first-of-type {
  color: #fdfdfd;
}

.program article:nth-child(even) h3 {
  color: #a00000;
}
